PORT=3000
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
SUPABASE_URL=https://qeairnomvbmsugiigavm.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFlYWlybm9tdmJtc3VnaWlnYXZtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzQwMDAwMCwiZXhwIjoyMDkyOTc2MDAwfQ.UUTIc6Xovkdcp4XWpn8ydQMJae7A8iglq3YrooaYmEE
WHATSAPP_APP_SECRET=your_whatsapp_app_secret
WHATSAPP_VERIFY_TOKEN=your_verify_token
